@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
  --primaryColor: #080aa3;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span.navbar-toggler-icon {
  //background-color: 'red';
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}
/* #newHero {
  background-image: linear-gradient(rgba(106, 140, 193, 0.7), rgba(0, 0, 0, 0.7));
} */
.defaultHero {
  min-height: calc(100vh - 62px);
  background: linear-gradient(rgba(106, 140, 193, 0.7), rgba(0, 0, 0, 0.7)), url("../images/aceAttorney-hero-bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary,
.btn-white {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  text-decoration: none !important;
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}

.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}