.social_icons {
  display: flex;
}

.social_icons a {
  color: var(--primaryColor);
  margin: 0 0.5rem;
  font-size: 1.2rem;
  transition: var(--mainTransition);
}

.social_icons a:hover {
  color: var(--mainBlack);
  transform: translateY(-5px);
}

.links {
  display: flex;
  margin: 0 auto;
}

.links a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin: 0.5rem 1rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .social_icons {
    display: none;
  }
}